<div class="{{cssClass}} flexcol">
  <div class="form-group">
    <label>{{localize "pdf-pager.ChoosePdfForm.Prompt"}}</label>
    <div class="form-fields">
      <file-picker name="filename" value="{{filename}}"></file-picker>
    </div>
    <p class="notes">{{localize "pdf-pager.ChoosePdfForm.Hint"}}</p>
  </div>
  <button type="submit"><i class="fas fa-save"></i> {{localize "pdf-pager.ChoosePdfForm.Submit"}} </button>
</div>